@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>InGamingDB</h1>
    <p class="lead">
        Application of Gaming Database for the purpouse of Systems of Database Management.
        Allows us to add, modify and deleteting data from base.
    </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Technology Used</h2>
        <p>
            Application was provided with ASP.Net MVC. Database was
            created in Microsoft SQL Server and the whole application
            is managing with Entity Framework.
        </p>
    </div>
    <div class="col-md-4">
        <h2>What to do</h2>
        <p>
            Application allows us to:
            <ol>
                <li>add, modify and delete data</li>
                <li>sort and search by different parameters</li>
                <li>pick already prepared foreign data</li>
                <li>...</li>
            </ol>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
    </div>
</div>